<div class="container">
    <div class="row">
        <form class="col-md-5" id="Add" action="/classes" method="post">
            <fieldset>
                <legend>Add New Class</legend> 

                <div class="form-group">
                    <label for="cName">Class Name: </label>
                    <input class="form-control" type="text" name="cName" id="cName">
                </div>
                
                <div class="form-group">
                    <label for="addCap">Capacity </label>
                    <input class="form-control" type="text" name="addCap" id="addCap">
                </div>

                <div class="form-group">
                    <label for="majorid">Major ID: </label>
                    <input class="form-control" type="text" name="majorid" id="majorid">
                </div>

                <div class="form-group">
                    <label for="pfname">Professor First Name </label>
                    <input class="form-control" type="text" name="pfname" id="pfname">
                </div>

                <div class="form-group">
                    <label for="plname">Professor Last Name </label>
                    <input class="form-control" type="text" name="plname" id="plname">
                </div>

                <br>
                <div class="form-group">
                    <input class="btn btn-dark" type="submit" value="Add" id="addSub">
                </div>
            </fieldset>
        </form>

        <div class="col-md-2"></div>

        <form class="col-md-5" id='Search'>
            <fieldset>
                <legend>Search Classes</legend>

                <div class="form-group">
                    <label for="ClName">Class Name: </label>
                    <input class="form-control" type="text" name="ClName" id="ClName">
                </div>
                <br>
                <div class="form-group">
                    <input class="btn btn-dark" type="button" value="Search" id='searchClass' onclick="getClassByName()">
                </div>
                <br>
                <div class="form-group">
                    <input class="btn btn-dark" type="button" value="All Classes" id='getAll'
                        onclick="window.location.href='/classes'">
                </div>
            </fieldset>
        </form>
    </div>
</div>

<table class="table table-striped mt-5" id="searchResults">
    <thead>
        <tr class="table-dark">
            <th scope="col">Class ID</th>
            <th scope="col">Class Name</th>
            <th scope="col">Capacity</th>
            <th scope="col">Major</th>
            <th scope="col">Professor Name</th>
        </tr>
    </thead>

    <tbody>
        {{#each stud}}
        <tr>
            <th scope="row">{{id}}</th>
            <td>{{class_name}},{{first_name}}</td>
            <td>{{capacity}}</td>
            <td>{{major_id}}</td>
            <td>{{last_name}},{{first_name}}</td>
        </tr>
        {{/each}}
    </tbody>

</table>