<div class="container">
    <div class="row">
        <form class="col-md-5" id="Add" action="/students" method="post">
            <fieldset>
                <legend>Add New Student</legend> 

                <div class="form-group">
                    <label for="sid">Student ID </label>
                    <input class="form-control" type="text" name="sid" id="sid">
                </div>
                
                <div class="form-group">
                    <label for="fname">First Name: </label>
                    <input class="form-control" type="text" name="fname" id="fname">
                </div>

                <div class="form-group">
                    <label for="lname">Last Name: </label>
                    <input class="form-control" type="text" name="lname" id="lname">
                </div>

                <div class="form-group">
                    <label for="GPA">GPA: </label>
                    <input class="form-control" type="text" name="GPA" id="GPA">
                </div>

                <div class="form-group">
                    <label for="major">Major: </label>
                    <input class="form-control" type="text" name="major" id="major">
                </div>

                <br>
                <div class="form-group">
                    <input class="btn btn-dark" type="submit" value="Add" id="addSub">
                </div>
            </fieldset>
        </form>

        <div class="col-md-2"></div>

        <form class="col-md-5" id='Search'>
            <fieldset>
                <legend>Search Students</legend>

                <div class="form-group">
                    <label for="sLName">Last Name: </label>
                    <input class="form-control" type="text" name="sLName" id="sLName">
                </div>
                <br>
                <div class="form-group">
                    <input class="btn btn-dark" type="button" value="Search" id='searchClass' onclick="getStudentByName()">
                </div>
                <br>
                <div class="form-group">
                    <input class="btn btn-dark" type="button" value="All Students" id='getAll'
                        onclick="window.location.href='/students'">
                </div>
            </fieldset>
        </form>
    </div>
</div>

<table class="table table-striped mt-5" id="searchResults">
    <thead>
        <tr class="table-dark">
            <th scope="col">Student ID</th>
            <th scope="col">Last Name</th>
            <th scope="col">First Name</th>
            <th scope="col">GPA</th>
            <th scope="col">Major</th>
        </tr>
    </thead>

    <tbody>
        {{#each stud}}
        <tr>
            <th scope="row">{{id}}</th>
            <td>{{last_name}}</td>
            <td>{{first_name}}</td>
            <td>{{gpa}}</td>
            <td>{{major_id}}</td>
        </tr>
        {{/each}}
    </tbody>

</table>